.header {
    display: flex;
    text-align: center;
    border: 1px solid red;
    height: 100vh;
    width: 100%;
    background: url("../../../assets/images/BG\ swap3.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}