.container {
    width: 100%;
    height: 100vh;
    background: url('../../../../assets/images/BG\ swap3.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .content {
        width: 100%;
        height: 100%;

        .content_top {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            

            .view_text {
                display: flex;
                flex-direction: column;

                .title {
                    font-family: 'Montserrat';
                    font-style: italic;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 44px;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }

                .view {
                    padding-top: 20px;

                    .text {
                        font-family: 'Montserrat';
                        font-style: italic;
                        font-weight: 500;
                        font-size: 22px;
                        // line-height: 37px;
                        display: flex;
                        align-items: center;
                        color: #FFFFFF;
                    }
                }
              
            }

            .view_img {

                .img {
                    width: 260px;
                    height: 260px;
                 
                }
            }
        }

        .content_bottom {
            display: flex;
            justify-content: center;
            padding-top: 20px;

            .view_img {
                .img {
                    width: 260px;
                    height: 260px;
                }
            }

            .view_text {
                display: flex;
                flex-direction: column;
                padding-top: 60px;

                .title {
                    font-family: 'Montserrat';
                    font-style: italic;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 44px;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }

                .view {
                    padding-top: 20px;

                    .text {
                        font-family: 'Montserrat';
                        font-style: italic;
                        font-weight: 500;
                        font-size: 22px;
                        // line-height: 37px;
                        display: flex;
                        align-items: center;
                        color: #FFFFFF;
                    }
                }
              
            }
        }
    }
}


//Responsive
@media screen and(max-width:850px) {
    .container {
        width: 100%;
        height: auto;
        padding-bottom: 20px;

        .content {
            width: 100%;
            height: 100%;

            .content_top {
                display: flex;
                flex-direction: column;
                align-items: center;

                .view_text{

                    .title {
                        font-size: 23px;
                        text-align: center;
                        line-height: 25px;
                    }

                    .view {
                        padding-top: 15px;
                        align-self: center;

                        .text{
                            font-size: 14px;
                            justify-content: center;
                            text-align: -webkit-center;
                        }
                    }
                }

             
            }

            .content_bottom {
                display: flex;
                justify-content: center;
                padding-top: 20px;
                flex-direction: column-reverse;
                text-align: center;

                .view_text {
                    .title {
                        font-size: 23px;
                        align-self: center;
                        line-height: 25px;
                    }

                    .view {
                        padding-top: 15px;
                        align-self: center;
                        .text {
                            font-size: 14px;
                            justify-content: center;
                            text-align: -webkit-center;
                        }

                    }
                }
            }
        }
    }
}